<div class="jumbotron text-center">
    <div class="background-mage">
        <div class="caption">
            <h1>ESPN News Scraper</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        {{#each Article}}
            <div class="card text-center">
                    {{this.title}}
                <div class="card-body">
                    {{this.summary}}
                    <a href="readContent/{{this.id}}" class="btn btn-primary">Read Content</a>
                </div>
            </div>
        {{/each}}
    </div>
</div>
